* {
  box-sizing: border-box;
  outline: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");

body {
  background-color: rgb(206, 143, 60);
}

section {
  width: 500px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
}

h1 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.calculadora {
  width: 100%;
  align-items: center;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background: rgb(184, 180, 180);
}

.btn-eq {
  background: rgb(223, 146, 4);
}

.btn-eq:hover {
  background: rgb(184, 122, 8);
}

.btn-func {
  background: rgb(194, 190, 190);
}

.btn-func:hover {
  background: rgb(112, 109, 109);
}
